* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    height:100vh;
}


@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica-Font/Helvetica.ttf) format("truetype");
  }

@font-face {
font-family: Roboto;
src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
/* -------------popup-------- */
.popup-container{
    display: none;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.popup{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    z-index: inherit;
    padding: 25px;
}

/* -----------Navigation_Top Starts---------- */
.Navigation_Top{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    display: flex;
    margin:auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 19px 190px 19px 180px;

}
    /* ----Navigation_Top_Left---- */
    .Navigation_Top_Left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1px;
        padding-right: 10px;
    }
        /* -------Inside of Navigation_Top_Centre------- */
        .Navigation_Top_Left_logo{
            display: flex;
            cursor: pointer;
            padding-right: 5px;
        }
        .Navigation_Top_Left_DEV{
            color:  #f10f85;
            
        }
        .Navigation_Top_Left_CENTRE{
            color: var(--gunmetal);;
        }
        /* ----------------------------------------------- */

    /*  -----Navigation_Top_Centre------ */
    .Navigation_Top_Centre{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #4b4d61;
        flex-shrink: 0;
    }
        /* -------Inside of Navigation_Top_Centre------- */
        .Navigation_Top_Centre_Content{ 
            cursor: pointer;
            padding-right: 30px;
            overflow: hidden;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: max-content;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          .Navigation_Top_Centre_Content:hover .dropdown-content {
            display: block;
          }
          .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
          .dropdown-content a:hover {
            background-color: rgb(255, 205, 247);
          }
        /* ----------------------------------------------- */


    /*  ------ Navigation_Top_Right ----- */
    .Navigation_Top_Right{
        display: flex;
        align-items: center;
    }
        /* ------ Inside of .Navigation_Top_Right------ */
        .Navigation_Top_Right_logo{
            display: flex;
            padding-right: 20px;
        }
        .Navigation_Top_Right_logo img,.Navigation_Top_Right_Group img{
            height: 15px;
        }
        .Navigation_Top_Right_Jason{
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
            text-align: left;
            color: #4b4d61;
            
        }
        .Navigation_Top_Right_Group{
            display: flex;
            padding-left: 10px;
            cursor: pointer;
            position: relative;
        }
        .user_content {
            display: none;
            position: absolute;
            right: 0px;
            top: 17px;
            background-color: #f9f9f9;
            width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          .user_content div{
            padding: 12px 16px;
            align-items: center;
            text-align: center;
            font-size: 18px;
            background-color: rgb(240, 252, 250);
          }
          .user_content button {
            cursor: pointer;
            float: none;
            color: black;
            width: 100%;
            outline: none;
            border: 1px;           
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
            background-color: rgb(236, 225, 225);
          }
          .user_content button:hover {
            background-color: #ddd;
          }
        /* --------------------------------------------- */

/* ------------Navigation_Top Ended---------- */

/* -----  Main Section which conatins left bar and Right bar  starts------- */
.Main_Section{
     height: 90%;
     display: flex;
     flex-direction: row;
     flex-grow: 1;
     position: relative;
}

    /* ----------------------Left Bar--------------- */
    .Main_Left{
        width: 60px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 10px 5px 0 rgba(0, 0, 0, 0.1);
        font-family: Roboto;
        text-align: center;
        font-size: 10px;
        color: #979797;
    }
    .Main_Left_Large{
        position: absolute;
        width: 150px;
        height: 100%;
        padding-top: 10px;
        flex-direction: column;
        box-shadow: 2px 10px 5px 0 rgba(0, 0, 0, 0.1);
        font-family: Roboto;
        text-align: center;
        font-size: 10px;
        color: #979797;
        display: none;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
    }
        /* ----------Inside Left Bar Section ----------- */
        #Main_Left_Button,#Main_Left_Large_Button{
            cursor: pointer;
            padding-bottom: 40px;
        }
        .Main_Left_Your{
            font-size: 12px;
            font-weight: bold;
        }
        .Main_Left_Box{
            display: flex;
            flex-direction: column;
            padding: 8px 12px 7px;
            background-color: #ffffff;
            cursor: pointer;
        }
            /* Inside Main Left Logo Part Spacing */
            .Main_Left_Box_Logo{
                padding: 5px 5px 1px 5px;
            }
            /* Inside Main Left Logo Image Size */
            .Main_Left_Box_Logo img{
                padding: 2px 3px;
                height: 24px;
                width: 24px;
            }

        .Contributions{
            color: #e20074;
            background-color:#fce6f1;
        }
            /* Inside Main Left Contribution */
            .Text_Contributions{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        /* ------------------------------------------- */

    /* -----------------Left Bar Ended----------------------- */

    /* -----------------------Right Bar------------------ */
    .Main_Right{
        width: 100%;
        overflow-y: scroll;
    }
        /* -----------------------------------Inside Main Right---------------------- */
        .Main_Right_Header_Nav{
            display: flex;
            flex-direction: column;
        }

        /* ----------------Main Right Header Section Started--------------- */
        .Main_Right_Header{
            padding: 25px 180px 25px 120px;
            background-image: linear-gradient(to top, #909dc1, #474a68);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

        }
            /* -------------Inside Main Right Header---------- */
            .Main_Right_Header_Left{
                text-align: left;
            }
                /* --------------Inside of Main Right Header Left Section--------- */
                .My_Contributions{
                    font-size: 28px;
                    line-height: 0.93;
                    color: #f8fafd;
                    padding-right: 5px ;
                    padding-bottom: 5px;
                }
                .Description{
                    opacity: 60%;
                    font-size: 13px;
                    padding-right: 5px ;
                    color: #ffffff;
                }
                /* ----------------------------------------------- */
            .Main_Right_Header_Right{
                padding: 11px 20px;
                background-color: #e20074;
                color: white;
                border: 1px;
                outline: none;
                cursor: pointer;
                flex-shrink: 0;
                position: relative;
            }
            .New_Section{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .New_Section img{
                display: flex;
            }
            #newButtonClickedBox{
                position: absolute;
                right: 0px;
                top: 40px;
                z-index: 2;
                width: 240px;
                height: 291px;
                padding: 21px 9px 12px 11px;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #ffffff;
                display: none;            }
            .newButtonClickedBox_Box{
                width: 100%;
                height: 40px;
            }
            .newButtonClickedBox_Box_TextBox{
                height: 40px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                margin: 0 0 0 20px;
                font-family: Helvetica;
                font-size: 14px;
                font-weight: bold;
                line-height: 2.86;
                color: #4b4d61;
            }
            .BlogPostParent{               
                background-color: #f5f7f9;
            }
            .BlogPostChild{
                color: #e20074;
            }
            /* ------------------------------------------------------------------- */

        /* ----------------Main Right Header Section Ended--------------- */

        /* ----------------Main Right Nav Section Started--------------- */
        .Main_Right_Nav{
            background-color: #f5f6f8;
            display: flex;
            padding-left: 120px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            text-align: left;
            color: #4b4d61;
        }
            /* ------------Inside Main Right Nav----------- */
            .Documents{
                padding: 23px 40px;
                color: #e20074;
                background-color: white;
            }
            .Main_Right_Nav_Box{
                padding: 23px 40px;  
                cursor: pointer;             
            }
        /* ----------------Main Right Nav Section Ended--------------- */
        .Main_Right_Other{
            margin-left: 120px;
            width:77.6%;
        }
        .Main_Right_Contribution{

            display: flex;
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            font-weight: bold;
            color: #4b4d61;
            
        }
            /* Inside Right Contribution */
            .Main_Right_Contribution_Box{
                padding: 50px 0px 30px 0px;
                margin-right: 30px;
                cursor: pointer;
            }
            .AllDocuments{
                color:#e20074;
                border-bottom: 2px solid#e20074;
            }
        /* ---------------------------- */
        /*  ---------------Line Division----------- */
        .Main_Right_Line_Division{
            border: 0.5px solid #dde4f2;
            border-collapse: collapse;
            margin-bottom: 30px;
        }
        /* ----------------------------------------- */

        /* ---------Main Right Table---------- */
        .Main_Right_Table_Section{
            overflow-x: auto;
            display: flex;
            flex-direction: column;
        }
        .Main_Right_Table{
        }
        .Main_Right_Table_Row_Heading_Box{
            font-size: 12px;
            font-weight: bold;
            text-align: left;
            color: #4b4d61;
            padding-bottom: 10px;
        }
            .Document{
                padding-left: 50px;
            }
            
        .Main_Right_Table_Rows{
            box-shadow: 0 2px 5px 0 #d4dbe7;
            background-color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color: #4b4d61;
        }
            .Main_Right_Table_Column_DocumentTitle{
                display: flex;
                align-items: center;
                text-align: left;
                padding: 20px 0px 20px 20px;
                line-height: 1.43;
                margin-right: 50px;
            }
                .Main_Right_Table_Column_DocumentTitle_Logo{
                    display: flex;
                    padding-right: 5px;
                }
            .Main_Right_Table_Column_Stages{
                width: fit-content;
                padding: 4px 16px;
                border-radius: 60px;
                background-color: #ebf0f8;
                text-align: center;
                font-size: 12px;
                line-height: 1.5;
                margin-right: 50px;
            }
            .Main_Right_Table_Column_Stages___{
                padding-left: 15px;
                opacity: 20%;
            }
            .Main_Right_Table_Column_OwnedBy{
                width: 100%;
                line-height: 1.43;
                margin-right: 50px;
            }
            .Main_Right_Table_Column_LastEdited{
                width: 100%;
                margin-right: 50px;
            }
            .Main_Right_Table_Column_Published{
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                font-size: 12px;
            }
            .Main_Right_Table_Column_Published_Text_Pink{
                color:#e20074;
                text-decoration: underline;
            }
            .Main_Right_Table_Column_Published_Logo_Text{
                display: flex;
                align-items: center;
            }
                .Main_Right_Table_Column_Published_Logo{
                    display: flex;
                    padding-right: 10px;
                }
                .Main_Right_Table_Column_3dot{
                    padding-right: 20px;
                    
                }
        /* ------------------------Main Right Table Ended---------------- */
        .Main_Right_ShowMore{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px 0;
            font-size: 13px;
            line-height: 1.5;
            color: #e20074;
            cursor: pointer;
        }

    /* ---------------------Right Bar Ended------------------------- */
/* ---------------------------Mobile view--------------------- */
@media only screen and (max-width: 650px) {
    *{
        margin: 0;
        padding: 0;
    }
    .Navigation_Top{
        padding: 19px 10px;
    }
    .Navigation_Top_Centre{
        display: none;
    }

    .Main_Left{
        display: none;
    }
    .Main_Right_Header{
        padding: 10px 10px;
    }
    .Main_Right_Nav{
        display: none;
        padding: 0;
    }
    .Main_Right_Other{
        margin-left: 0;
        width:100%;
    }
    .Main_Right_Contribution {
        margin: 0;
        padding: 0px;
    }
    .Main_Right_Contribution_Box {
        padding:10px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
    }
  }

  @media only screen and (max-width: 1000px) and (min-width:650px) {
    *{
        margin: 0;
        padding: 0;
    }
    .Navigation_Top{
        padding: 19px 10px;
    }
    .Navigation_Top_Centre_Content{
        padding-right: 8px;
    }
    .Navigation_Top_Right_logo{
        padding-right: 10px;
    }
    .Main_Right_Header{
        padding: 10px 10px;
    }
    .Main_Right_Nav{
        padding: 0;
    }
    .Main_Right_Other{
        margin-left: 0;
        width:100%;
    }
    .Main_Right_Contribution {
        margin: 0;
        padding: 0;
    }
    .Main_Right_Contribution_Box {
        padding:20px 10px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
    }
  }