* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}
/* body{
    border: 0.1px solid #4b4d61;
} */

@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica-Font/Helvetica.ttf) format("truetype");
  }

@font-face {
font-family: Roboto;
src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

/* ------------Navigation_Top Starts---------- */
.Navigation_Top{
    background-color: aliceblue;
    display: flex;
    margin:auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 19px 180px 19px 180px;

}
    /* ----Navigation_Top_Left---- */
    .Navigation_Top_Left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1px;
    }
        /* -------Inside of Navigation_Top_Centre------- */
        .Navigation_Top_Left_logo{
            display: flex;
            padding-right: 5px;
        }
        .Navigation_Top_Left_DEV{
            color:  #f10f85;
            
        }
        .Navigation_Top_Left_CENTRE{
            color: var(--gunmetal);;
        }
        /* ----------------------------------------------- */

    /*  -----Navigation_Top_Centre------ */
    .Navigation_Top_Centre{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #4b4d61;
    }
        /* -------Inside of Navigation_Top_Centre------- */
        .Navigation_Top_Centre_LifeCycle,.Navigation_Top_Centre_StarterKits,.Navigation_Top_Centre_DevJourney,.Navigation_Top_Centre_Resources{ 
            padding-right: 30px;
        }
        .Navigation_Top_Centre_Community{
        }
        /* ----------------------------------------------- */


    /*  ------ Navigation_Top_Right ----- */
    .Navigation_Top_Right{
        display: flex;
        align-items: center;
    }
        /* ------ Inside of .Navigation_Top_Right------ */
        .Navigation_Top_Right_logo{
            display: flex;
            padding-right: 20px;
        }
        .Navigation_Top_Right_logo img,.Navigation_Top_Right_Group img{
            height: 15px;
        }
        .Navigation_Top_Right_Jason{
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
            text-align: left;
            color: #4b4d61;
        }
        .Navigation_Top_Right_Group{
            display: flex;
            padding-left: 10px;
        }
        /* --------------------------------------------- */

/* ------------Navigation_Top Ended---------- */

/* -----  Main Section which conatins left bar and Right bar  starts------- */
.Main_Section{
    display: flex;
    flex-direction: row;
}

    /* ----------------------Left Bar--------------- */
    .Main_Left{
        width: 60px;
        padding-top: 75px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 10px 5px 0 rgba(0, 0, 0, 0.1);
        font-family: Roboto;
        text-align: center;
        font-size: 10px;
        color: #979797;
    }
        /* ----------Inside Left Bar Section ----------- */
        .Main_Left_Your{
            font-size: 12px;
            font-weight: bold;
        }
        .Main_Left_Projects,.Main_Left_Journey,.Main_Left_AccessControl,.Main_Left_Event,.Main_Left_Contribution{
            display: flex;
            flex-direction: column;
            padding: 8px 12px 7px;
            background-color: #ffffff;
        }
            /* Inside Main Left Logo Part Spacing */
            .Main_Left_Projects_Logo,.Main_Left_Contribution_Logo,.Main_Left_Journey_Logo,.Main_Left_Event_Logo,.Main_Left_AccessControl_Logo{
                padding: 5px 5px 1px 5px;
            }
            /* Inside Main Left Logo Image Size */
            .Main_Left_Projects_Logo img,.Main_Left_Contribution_Logo img,.Main_Left_Journey_Logo img,.Main_Left_Event_Logo img,.Main_Left_AccessControl_Logo img{
                padding: 2px 3px;
                height: 24px;
                width: 24px;
            }
            .Main_Left_Projects_Text{               
            }

        .Main_Left_Contribution{
            color: #e20074;
            background-color:#fce6f1;
        }
            /* Inside Main Left Contribution */
            .Main_Left_Contribution_Text{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            /* Inside Main Left Journey */
            .Main_Left_Journey_Text{
            }
            /* Inside Main Left Event */
            .Main_Left_Event_Text{
            }
            /* Inside Main Left AccessControl */
            .Main_Left_AccessControl_Text{
            }
        /* ------------------------------------------- */

    /* -----------------Left Bar Ended----------------------- */

    /* -----------------------Right Bar------------------ */
    .Main_Right{
        width: 100%;
    }
        /* -----------------------------------Inside Main Right---------------------- */

        /* ----------------Main Right Header Section Started--------------- */
        .Main_Right_Header{
            padding: 25px 180px 25px 120px;
            background-image: linear-gradient(to top, #909dc1, #474a68);
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

        }
            /* -------------Inside Main Right Header---------- */
            .Main_Right_Header_Left{
                text-align: left;
            }
                /* --------------Inside of Main Right Header Left Section--------- */
                .My_Contributions{
                    font-size: 28px;
                    line-height: 0.93;
                    color: #f8fafd;
                    padding-bottom: 5px;
                }
                .Description{
                    opacity: 60%;
                    font-size: 13px;
                    color: #ffffff;
                }
                /* ----------------------------------------------- */
            .Main_Right_Header_Right{
                display: flex;
                align-items: center;
                padding: 11px 20px;
                background-color: #e20074;
                font-size: 10px;
                color: white;
                font-weight: 400;
            }
            .New_Section{
                display: flex;
                align-items: center;
            }
            .New_Section img{
                display: flex;
            }
            /* ------------------------------------------------------------------- */

        /* ----------------Main Right Header Section Ended--------------- */

        /* ----------------Main Right Nav Section Started--------------- */
        .Main_Right_Nav{
            background-color: #f5f6f8;
            display: flex;
            padding-left: 120px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            text-align: left;
            color: #4b4d61;
        }
            /* ------------Inside Main Right Nav----------- */
            .Main_Right_Nav_Documents{
                padding: 23px 40px;
                color: #e20074;
                background-color: white;
            }
            .Main_Right_Nav_Blogs,.Main_Right_Nav_Dev_Journey,.Main_Right_Nav_Tools{
                padding: 23px 40px;               
            }
        /* ----------------Main Right Nav Section Ended--------------- */
        .Main_Right_Contribution{
            /* padding: 30px 0 20px 125px; */
            display: flex;
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            font-weight: bold;
            color: #4b4d61;
        }
            /* Inside Right Contribution */
            .Main_Right_Contribution_MyContribution{
                padding: 30px 30px 20px 125px;
                opacity: 0.5;
            }
            .Main_Right_Contribution_AwaitingApproval{
                padding: 30px 30px 20px 0px;
                opacity: 0.5;
            }
            .Main_Right_Contribution_AllDocuments{
                color:#e20074;
                padding: 30px 0px 20px 0px;
                border-bottom: 2px solid#e20074;
            }
        /* ---------------------------- */
        /*  ---------------Line Division----------- */
        .Main_Right_Line_Division{
            margin: 0 180px 20px 120px;
            border: 0.5px solid #dde4f2;
            border-collapse: collapse;
        }
        /* ----------------------------------------- */

        /* ---------Main Right Table---------- */
        .Main_Right_Table_Section{
            margin: 0 180px 0px 120px;           
        }
        .Main_Right_Table{
            width: 100%;
        }
        .Main_Right_Table_Row_Heading{
            opacity: 0.6;
            font-size: 10px;
            font-weight: bold;
            text-align: left;
            color: #4b4d61;
            /* padding-bottom: 10px; */
        }
            .Main_Right_Table_Row_Heading_Document{
                padding-left: 50px;
                padding-bottom: 10px;
            }
            .Main_Right_Table_Row_Heading_Stages{
                padding-bottom: 10px;
            }
            .Main_Right_Table_Row_Heading_Owned{
                padding-bottom: 10px;
            }
            .Main_Right_Table_Row_Heading_Edited{
                padding-bottom: 10px;
            }
            .Main_Right_Table_Row_Heading_Published{
                padding-bottom: 10px;
            }
        .Main_Right_Table_Rows{
            box-shadow: 0 2px 5px 0 #d4dbe7;
            background-color: #ffffff;
            font-size: 10px;
            font-weight: bold;
            text-align: left;
            color: #4b4d61;
        }
            .Main_Right_Table_Column_DocumentTitle{
                display: flex;
                align-items: center;
                padding: 20px 0px 20px 20px;
                line-height: 1.43;
                margin-right: 50px;
            }
                .Main_Right_Table_Column_DocumentTitle_Logo{
                    display: flex;
                    padding-right: 5px;
                }
            .Main_Right_Table_Column_Stages{
                width: fit-content;
                padding: 4px 16px;
                border-radius: 60px;
                background-color: #ebf0f8;
                text-align: center;
                font-size: 10px;
                line-height: 1.5;
                margin-right: 70px;
            }
            .Main_Right_Table_Column_Stages___{
                padding-left: 15px;
                opacity: 20%;
            }
            .Main_Right_Table_Column_OwnedBy{
                line-height: 1.43;
                margin-right: 50px;
            }
            .Main_Right_Table_Column_LastEdited{
                margin-right: 60px;
            }
            .Main_Right_Table_Column_Published{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                font-size: 11px;
            }
            .Main_Right_Table_Column_Published_Text_Pink{
                color:#e20074;
                border-bottom: 0.1px solid #e20074;
            }
            .Main_Right_Table_Column_Published_Logo_Text{
                display: flex;
                /* align-items: flex-end; */
                align-items: center;
            }
                .Main_Right_Table_Column_Published_Logo{
                    display: flex;
                    padding-right: 10px;
                }
                .Main_Right_Table_Column_3dot{
                    padding-right: 20px;
                    
                }
        /* ------------------------Main Right Table Ended---------------- */
        .Main_Right_ShowMore{
            margin: 20px 0px 30px 589px;
            font-size: 13px;
            line-height: 1.5;
            text-align: left;
            color: #e20074;
        }

    /* ---------------------Right Bar Ended------------------------- */
